@model IEnumerable<bug_tracker.Models.ProjectModel>

@{
    ViewData["Title"] = "Current Project";
}

<h1>Projects</h1>

@using (Html.BeginForm())
{
    <p>
        Find by Project Name @Html.TextBox("SearchString")
        <input class="btn btn-secondary" type="submit" value="Search" /> |
        <a asp-action="Index">Back to Full List</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Project Name", "Index", new { sortOrder = ViewBag.NameSortParm }, new { @class = "dropdown-toggle caret dropdown-link" })
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
