@model bug_tracker.Models.TicketModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete @Model.TicketName?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-lg-2">
            @Html.DisplayNameFor(model => model.TicketName)
        </dt>
        <dd class="col-lg-10">
            @Html.DisplayFor(model => model.TicketName)
        </dd>

        <dt class="col-lg-2">
            @Html.DisplayNameFor(model => model.TicketDescription)
        </dt>
        <dd class="col-lg-10">
            @Html.DisplayFor(model => model.TicketDescription)
        </dd>

        <dt class="col-lg-2">
            @Html.DisplayNameFor(model => model.TicketStatus)
        </dt>
        <dd class="col-lg-10">
            @Html.DisplayFor(model => model.TicketStatus)
        </dd>

        <dt class="col-lg-2">
            @Html.DisplayNameFor(model => model.TicketProjectName)
        </dt>
        <dd class="col-lg-10">
            @Html.DisplayFor(model => model.TicketProjectName)
        </dd>

        <dt class="col-lg-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-lg-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt class="col-lg-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-lg-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to Tickets</a>
    </form>
</div>
